# Logs
*.log
/npm-debug.log*

# Coverage directory used by tools like istanbul
/coverage/

# Visual Studio Code configuration
/.vscode/

# Dependency directories
/node_modules/

# Optional npm cache directory
/.npm

# Output of 'npm pack'
/*.tgz

# Test output
/junit.xml

# Build output
/dist/
/types/
/temp/
